﻿body {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* custom styles */

.Index-head {
    text-align: center;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}

.contain {
    width: 40%;
    margin: auto;
}

@media(max-width : 1000px) {
    .contain {
        width: 80%;
        margin: auto;
    }
}