﻿@model IEnumerable<Project1_Database_and_EF_.Models.addressBook>

@{
    ViewBag.Title = "Index";
}

<h2 class="Index-head mb-4 ">Contacts</h2>




<div class="contain">
    <p>
        @Html.ActionLink("Create New", "Create", "addressBooks", new { @class = "btn btn-primary" })
    </p>
    @{
        if (!(Model.Count() > 0))
        {
            <p>There are no contacts added</p>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="card mb-1 animated fadeInRight">
                    <div class="card-body">
                        <p>
                            Name: @Html.DisplayFor(modelItem => item.Name)
                        </p>
                        <p>
                            Contact Number: @Html.DisplayFor(modelItem => item.ContactNumber)
                        </p>
                        <hr />
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </div>

            }
        }

    }
    

</div>